Library/*
Temp/*

Assembly-CSharp.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-vs.unityproj

HelloWorld.sln
HelloWorld.userprefs
HelloWorld-csharp.sln
